{% extends 'base.html.twig' %}

{% block body %}
    <h1>Changer le mot de passe</h1>

    {{ form_start(form) }}
        {{ form_row(form.currentPassword) }}
        {{ form_row(form.newPassword) }}
        <button type="submit">Changer le mot de passe</button>
    {{ form_end(form) }}
{% endblock %}
