{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mot de passe oublié</h1>

    <form method="post">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
        <button type="submit">Envoyer</button>
    </form>
{% endblock %}
