{% extends 'base.html.twig' %}

{% block body %}
    <h2>Mot de passe oublié</h2>
    <form method="POST">
        <input type="email" name="email" placeholder="Votre email" required>
        <button type="submit">Envoyer le lien</button>
    </form>
{% endblock %}
