{% extends 'base.html.twig' %}

{% block title %}Liste des Produits{% endblock %}

{% block body %}
<div class="container my-5">
    <h1 class="mb-4">Nos Produits</h1>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description|slice(0, 100) }}...</p>
                        <p class="card-text"><strong>Prix : </strong>{{ product.price }} €</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('product_detail', { id: product.id }) }}" class="btn btn-primary btn-sm">Voir Détails</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
